body {
    width: 80%;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}
.clear {
    clear: both;
}
.brand {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
.tryit {
    border-radius: 20px;
    border:1px solid hsl(322, 100%, 66%) ;
    color:hsl(322, 100%, 66%) ;
    background-color: white;
    font-size: 15px;
    padding: 7px 20px;
    float: right;
}
.header-content {
    text-align: center;
    padding: 60px 25px 40px 25px;
    justify-content: center;
    align-items: center;
}
.title {
    font-weight: 700;
    color: hsl(192, 100%, 9%);
    font-family: "Poppins", sans-serif;
}
.content {
    font-size: 16px;
    padding: 0 50px 10px 50px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
.get-started {
    border-radius: 30px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    padding: 20px 70px;
    border:none;
    box-shadow: 2px ;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: medium;
}
.screen {
    display: flex;
    justify-content: center;
}
.screen-img {
    padding: 40px 0 40px 0;
}
.info {
    display: flex;
    justify-content: center;
}
.messages {
    float: right;
}
.communities {
    float: left;
}