body {
    width: 80%;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}
.brand {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
.tryit {
    border-radius: 20px;
    border:1px solid hsl(322, 100%, 66%) ;
    color:hsl(322, 100%, 66%) ;
    background-color: white;
    font-size: 15px;
    padding: 7px 20px;
    float: right;
    cursor: pointer;

}
.header-content {
    text-align: center;
    padding: 100px 0 30px 0;
}
.title {
    font-weight: 800;
    color: hsl(192, 100%, 9%);
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
.content {
    font-size: 20px;
    padding: 0 50px 30px 50px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    width: 30%;
    margin: auto;
}
.get-started {
    border-radius: 30px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    padding: 20px 70px;
    border:none;
    box-shadow: 2 ;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;

}
.screen {
    display: flex;
    justify-content: center;
}
.screen-img {
    padding: 40px 0 40px 0;
}
.info {
    display: flex;
    justify-content: center;
}
.messages-img {
    width: 35px;
}
.messages {
    margin: 50px 0 50px 100px;
    width: 25%;
}
.communities-img {
    width: 35px;
}
.communities {
    margin: 50px 100px 50px 0;
    width: 25%;
}
.rating {
    font-weight: 700;
    font-size: 50px;
    margin: 0;
}
.desc {
    color:#8C9398;
}
.first-sec {
    display: flex;
    justify-content: center;
    height: 400px; ;
    padding: 50px;
    background-image:url(./images/bg-section-top-desktop-1.svg) , url(./images/bg-section-bottom-desktop-1.svg);
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size:contain;
}
.second-sec {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 400px; ;
    padding: 50px;
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size:contain;
}
.third-sec {
    display: flex;
    justify-content: center;
    height: 400px; ;
    padding: 50px;
    background-image:url(./images/bg-section-top-desktop-2.svg) , url(./images/bg-section-bottom-desktop-2.svg);
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size:contain;
}
.first-sec-img,.second-sec-img,.third-sec-img{
    width:500px ;
    height: 300px;
    /* align-self: stretch; */
}
.title-1,.title-2,.title-3 {
    font-weight: 700;
    font-size: 30px;
    margin: 150px 0 0 0;
    /* text-align: justify; */
}
.desc-1,.sec-2,.sec-3{
    width: 50%;   
    display: block;
    /* text-align: justify; */
}
.last-sec {
    text-align: center;
    padding: 100px 0 150px 0;
}
.footer {
    display: flex;
    padding: 50px 30px 50px 30px ;
    /* background-image: url(./images/bg-footer-top-desktop.svg); */
    background-color: hsl(192, 100%, 9%);
    background-repeat: no-repeat;
    background-size:contain;
    height: 300px;
    color: white;
}
.news {
    font-weight: 600;
    font-size: 20px;
    
}
.right-sec {
    margin-left: 300px;
}
.input {
    border-radius: 10px;
    width: 110px;
    height: 15px;
    padding: 10px 40px;
    margin: 10px;
    border:none;
}
.last-button {
    border-radius: 10px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    padding: 10px 40px;
    border:none;
    box-shadow: 2 ;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
}
